
{#$asset->add('theme.css', 'droplets/superv/themes/spa/resources/scss/toastr.scss');#}
{#//        $asset->add('theme.css', 'droplets/superv/themes/spa/resources/scss/theme/theme.scss');#}

{#$data['asset'] = $asset;#}
{#$data['name'] ='alis';#}
{#return view()->make('superv.modules.supreme::home', $data);#}


{{ asset.style('theme.css')|raw }}

<div id="toast-container" class="toast-bottom-right" aria-live="polite" role="alert">
    <div class="toast toast-success" style="display: block;">
        <div class="toast-progress" style="width: 42.5571%;"></div>
        <button type="button" class="toast-close-button" role="button">×</button>
        <div class="toast-message">{{ name }}</div>
    </div>
</div>

<img src="{{ asset.url('theme::img/backgrounds/forest.jpg') }}">
<img src="{{ asset.url('droplets/superv/themes/admin/resources/img/backgrounds/forest.jpg') }}">