.hey
    padding:1.25rem 1.5rem
    color:#fff
    border-radius:6px
    font-weight: 700;
    background-color:#FE758F

.hom
    padding:1.25rem 1.5rem
    color:#fff
    font-weight: 700;
    border-radius:6px
    background-color:#60bafd
