<tbody>
{% for row in table.rows %}
    <tr>
        {% for col in columns %}
            <td class="{{ col.getClasses() ? col.getClassString() : 'sorting' }}">
                {{ row.content(col) | raw }}
            </td>
        {% endfor %}
        <td class="text-right">
            <nobr> {% for button in row.buttons %}
                    {{ button.render()|raw }}
                {% endfor %}</nobr>
        </td>
    </tr>
{% endfor %}
</tbody>