<tbody>
{% for row in table.rows %}
    <tr>
        {% for col in columns %}
            <td class="{{ col.getClasses() ? col.getClassString() : 'sorting' }}">
                {% if col.hasRenderer() %}
                    {{ col.render(row) | raw }}
                {% else %}
                    {{ attribute(row.getModel(), col.getField()) | raw }}
                {% endif %}
            </td>
        {% endfor %}
        <td class="pull-right">
            <nobr> {% for button in row.buttons %}
                    {{ button.render()|raw }}
                {% endfor %}</nobr>
        </td>
    </tr>
{% endfor %}
</tbody>